build/
src/simplefact/factpp.so
src/simplefact/owlfun.so
__pycache__/
.ipynb_checkpoints/
**/.idea/
*/dependency-reduced-pom.xml

!local/
local/*
!local/out
local/out/*
!local/out/dataset
!local/out/img
